body {
    height: 100%;
    width: 100%;
	background-color:#252627;
}

.container{
	min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%;
}

.glyphicon {
	font-size: 1.7em;
	z-index: 3;
	padding: 0 5% 0 5%;
	color:#4d4d4e;
	transition: opacity 0.25s;
}

.extraglyphicon {
	font-size: 1.25em;
	padding: 0 8% 0 8%;
	color:#4d4d4e;
}

.glyphicon-menu-hamburger {
	font-size:2em;
	cursor:pointer;
	color:#fff;
	margin: 0 0 0 70%;
}

.glyphicon:hover,
.extraglyphicon:hover {
	color:#08fdd8;
}

.social-nav-buttons {
	position:absolute;
	left:80%;
	width:20%;
	padding-top:5px;
	display: none;
	text-align: center;
}

.logo{
	position:absolute;
	font-size:1em;
	opacity:0;
}

.navbar{
	top:0;
	position:absolute;
    height: 40px !important;
	width:100%;
	background-color:#181818;
	padding-top:5px;
	
	z-index: 3 !important;
}

#main-nav-buttons, #main-nav-buttons-text {
	text-align: center;
}

#main-nav-buttons-toggler{
	position:absolute;
	left:87%;
	width:5%;
	display:block;
	background-color:#181818;
}

.home h1{
	color: #fff;
}

.about p {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.text-zone p {
	font-size: 14px !important;
	color: #fff;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
	font-family: sans-serif;
	font-weight: bold;
	color: #08fdd8;
	margin-bottom:0em;
}

h5 {
	color:#8d8d8d;
	font-size: 0.7em;
	margin-top:0.5em;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.2em;
}

.text-zone {
	position: absolute;
	width: 85%;
	margin: 120px 0 0 10%;
}

.skills {
	
}

.btn-contact {
	color: #08fdd8;
	background-color:#252627;
	font-size: 11px;
	letter-spacing: 4px;
	text-decoration: none;
	padding: 8px 12px;
	border: 1px solid #08fdd8;
	margin-top: 10px;
	float: left;
	border-radius: 3px;
	white-space: nowrap;
}

.btn-contact:hover{
	color:#252627;
	background-color: #08fdd8;
	text-decoration: none;
}

#name, #email{
	width: 100%;
}

#subject, #message{
	width:100%;
}

#message {
	resize: vertical;
}

#main-nav-buttons-text{
	position:absolute;
	font-size: 0.8em;
	color: #08fdd8;
	z-index:2;
	transition: opacity 0.25s;
	opacity:0;
}

#loadingScreen{
	background-color: green;
	position: fixed;
	will-change: transform;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1 !important;
	display: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#contentContainer{
	margin-top:0.1em;
	font-weight:normal;
	font-size:1em;
	font-family:"Open Sans", sans-serif;
	opacity:1;
	width:60%;
	margin-left:20%;
	transform:scale(1);
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width: 599px) {
	#main-nav-buttons{
		top:40px;
		position:absolute;
		height: 40px;
		width:100%;
		background-color:#181818;
		padding-top:5px;
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.social-nav-buttons {
		left:80%;
		width:20%;
        display: block;
	}
	
	#main-nav-buttons-toggler{
		display: none;
	}
	
	#main-nav-buttons{
		position:absolute;
		width: 60%;
		display: block;
		left:15%;
	}
	
	h1{
		font-size: 4em;
	}
	
	h5{
		font-size: 1em;
	}
	
	#name, #email{
		width: 50%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}